@model GameResult

<div class="mdl-card mdl-shadow--2dp" style="margin-left: 8px;">
    <div class="mdl-card__supporting-text">
        <strong>@Html.DisplayNameFor(g => g.Score)</strong>
        @Html.DisplayFor(g => g.Score)
    </div>
    <div class="mdl-card__supporting-text">
        <strong>@Html.DisplayNameFor(g => g.DateTime)</strong>
        @Html.DisplayFor(g => g.DateTime)
    </div>
</div>