@model IEnumerable<GameResult>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}


<h2>Results</h2>
@foreach (var result in Model) {
    <div>
        @Html.RenderPartialAsync("_Result", result)
    </div>
}