@using WelfareDenmark.Converters
@model IEnumerable<BrainGame>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}


<h2>Results</h2>
<div id="cont"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var games = @(JavaScriptConvert.SerializeObject(Model));
    for (var i = 0; i < games.length; i++) {
        drawChart(games[i]);
    }

    function drawChart(game) {
        var dt = game.gameResults;
        var cnv = $('<canvas height="50"></canvas>');
        $("#cont").append($('<h6>' + game.name + '</h6>'));
        $("#cont").append(cnv);
        var c = cnv[0];
        console.log(c);
        var ctx = c.getContext('2d');
        var myChart = new Chart(ctx,
            {
                type: 'line',
                data: {
                    datasets: [
                        {
                            data: dt.map(function(r) {
                                return ({
                                    x: r.dateTime,
                                    y: r.score,
                                    id: r.id
                                });
                            })
                        }
                    ]
                },
                options: {
                    legend: { display: false },
                    scales: {
                        xAxes: [
                            { type: 'time' }
                        ]
                    },
                    elements: {
                        rectangle: {
                            borderWidth: 2
                        }
                    }
                }
            });
        cnv.on('click',
            function(e) {
                var bars = myChart.getElementAtEvent(e);
                if (bars.length === 0) return;
                var gameResult = dt[bars[0]._datasetIndex];
                window.location.href = "/Results/Details/" + gameResult.id;

            });
    }
</script>