@model IEnumerable<BrainGame>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}


<h2>Results</h2>
@foreach (var game in Model) {
    foreach (var result in game.GameResults) {
        await Html.RenderPartialAsync("_Result", result);
    }
}