@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model GameResultDTO
@{
    ViewBag.Title = "Your data";
    Layout = "_Layout";
}

<h2>Enter your data</h2>
<fieldset>

    @using (Html.BeginForm()) {
        <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label @(ViewData.ModelState.GetValidationState("Name") == ModelValidationState.Invalid ? "is-invalid" : "")">
                <label asp-for="Name" class="mdl-textfield__label"></label>
                <input asp-for="Name" class="mdl-textfield__input"/>
                <span asp-validation-for="Name" class="mdl-textfield__error"></span>
            </div>
        </div>
        <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label @(ViewData.ModelState.GetValidationState("Score") == ModelValidationState.Invalid ? "is-invalid" : "")">
                <label asp-for="Score" class="mdl-textfield__label"></label>
                <input asp-for="Score" class="mdl-textfield__input" pattern="-?[0-9][0-9]*"/>
                <span asp-validation-for="Score" class="mdl-textfield__error"></span>
            </div>
        </div>
        <div >
            <label asp-for="DateTime" class=""></label>
            <input asp-for="DateTime" type="datetime-local" class=""/>
            <span asp-validation-for="DateTime" class=""></span>

        </div>
        <div>
            <button class="mdl-button mdl-button--raised" type="submit">Submit Data </button>
        </div>
    }
</fieldset>
@section scripts
{  
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script language="javascript">
        $.validator.setDefaults({
            highlight: function(element) {
                $(element).closest('.mdl-textfield').addClass('is-invalid');
            },
            unhighlight: function(element) {
                $(element).closest('.mdl-textfield').removeClass('is-invalid');
            }
        });
    </script>
    
}