@model GameResultDTO

@{
    ViewBag.Title = "Results";
    Layout = "_Layout";
}

<h2>Result</h2>
<div>
    @Html.LabelFor(g => g.Name)
    @Html.DisplayFor(g => g.Name)
</div>
<div>
    @Html.LabelFor(g => g.Score)
    @Html.DisplayFor(g => g.Score)
</div>