@{
    ViewBag.Title = "Reaction Game";
    Layout = "_Layout";
}

<h2>Reaction Game</h2>


<body>
    <div>
        <button value="start" style="width: 400px; height: 400px; position:absolute; top: 40%; left: 35%; background-color: #DF0C0C; font-size : 100px; ">
            Start
        </button>

    </div>

</body>