@model ICollection<ApplicationUser>

@{
    ViewBag.Title = "patients";
    Layout = "_Layout";
}
@foreach (var t in Model) {
    <div>
        <a href="@($"users/{t.Id}/results")"> @t.Email</a>
    </div>
}